*{
    padding:0;
    margin:0;
}
.big-container{
    width:80%;
    margin:auto;
    border:1px solid black;
    padding:1%;
}
.container1{
    display:flex;
    justify-content: space-between;
 
}
.child1{
    height: 60px;
    flex:0.3;
    background-color: pink;
}
.child2{
    height: 60px;
    flex:0.2;
    background-color:pink ;
}
.container2{
    display:flex;
    justify-content:center;
}
.child3{
    height: 50px;
    flex:0.3;
    background-color: pink;
}
.container3{
    display:flex;
    justify-content:center;
}
.child4{
    height:10px;
    flex:0.1;
    background-color: pink;
    margin-top: 1%;
}
.pinkcontainer
{
    background-color: pink;
    padding: 2% ;
    margin-top: 1%;
}
.container4{
    display:flex;
    justify-content: space-between;
    margin: 1%;
}
.child5{
    height:15px;
    flex: 0.2;
    background-color: grey;
}
.child6{
    height:25px;
    flex: 0.3;
    background-color: grey;
}
.child7{
    height:20px;
    flex: 0.3;
    background-color: grey;
}
.container5{
    display: flex;
    justify-content: space-between;
    margin: 1%;
}
.child8{
    height: 15px;
    flex: 0.2;
    background-color: grey;
}
.child9{
    height: 50px;
    flex: 0.7;
    background-color: grey;
}
.container6{
    display: flex;
    justify-content: center ;
    margin: 1%;
}
.child10{
    height: 15px;
        flex:0.4;
        background-color: grey;
        margin-top: auto;
}
.container7{
    display:flex;
    justify-content:center;
    margin:1%;
}
.child11{
        height: 25px;
        flex:0.4;
        background-color: grey;
        margin-left:13%;
}
.child12{
    height: 15px;
    flex:0.2;
    background-color: grey;
    margin-left:1%;
    align-self:center;
}
.container8{
    display:flex;
    margin-top:4%;

}
.child13{
    height:15px;
    flex:0.6;
    display: flex;
    justify-content:space-between;
}
.child14{
    height:15px;
    flex:0.4;
    border: 1px solid black;
}
.box1{
    flex:0.3;
    height:100%;
    border:1px solid black;
}
.box2{
    flex:0.3;
    height:100%;
    border:1px solid black;
}
.box3{
    flex:0.3;
    height:100%;
    border:1px solid black;
}
.box4{
    flex:0.3;
    height:100%;
  
}