*{
    padding:0;
    margin:0;
}
.big-container{
    width:80%;
    margin:auto;
    border:1px solid black;
    padding:1%;
}
.container1{
    display:flex;
    justify-content: space-between;
 
}
.child1{
    height: 60px;
    flex:0.3;
    background-color: pink;
}
.child2{
    height: 60px;
    flex:0.2;
    background-color:pink ;
}
.container2{
    display:flex;
    justify-content:center;
}
.child3{
    height: 50px;
    flex:0.3;
    background-color: pink;
}
.container3{
    display:flex;
    justify-content:center;
}
.child4{
    height:10px;
    flex:0.1;
    background-color: pink;
    margin-top: 1%;
}
.pinkcontainer
{
    background-color: pink;
    padding: 2% ;
    margin-top: 1%;
}
.container4{
    display:flex;
    justify-content: space-between;
    margin: 1%;
}
.child5{
    height:15px;
    flex: 0.2;
    background-color: grey;
}
.child6{
    height:25px;
    flex: 0.3;
    background-color: grey;
}
.child7{
    height:20px;
    flex: 0.3;
    background-color: grey;
}
.container5{
    display: flex;
    justify-content: space-between;
    margin: 1%;
}
.child8{
    height: 15px;
    flex: 0.2;
    background-color: grey;
}
.child9{
    height: 50px;
    flex: 0.7;
    background-color: grey;
}
.container6{
    display: flex;
    justify-content: center ;
    margin: 1%;
}
.child10{
    height: 15px;
        flex:0.4;
        background-color: grey;
        margin-top: auto;
}
.container7{
    display:flex;
    justify-content:center;
    margin:1%;
}
.child11{
        height: 25px;
        flex:0.4;
        background-color: grey;
        margin-left:13%;
}
.child12{
    height: 15px;
    flex:0.2;
    background-color: grey;
    margin-left:1%;
    align-self:center;
}
.container8{
    display:flex;
    margin-top:4%;

}
.child13{
    height:25px;
    flex:0.6;
    display: flex;
    justify-content:space-around;
}
.child14{
    height:15px;
    display:flex;
    flex:0.4;

    justify-content: flex-end;
}
.box1{
    flex:0.3;
    height:100%;
    border:1px solid black;
    background-color: pink;
}
.box2{
    flex:0.3;
    height:100%;
    border:1px solid black;
    background-color: pink;
}
.box3{
    flex:0.3;
    height:100%;
    border:1px solid black;
    background-color: pink;
}
.box4{
    flex:0.2;
    height:100%;
    background-color: grey;
    border:1px solid black;
    align-self:center;
}
.pinkcontainer2{
    background-color: pink;
}
.pink1{
    display: flex;
    justify-content:space-between;
    padding:2%;
}
.child15{
    height:30px;
    flex:0.3;
    background-color: grey;
}
.child16{
    height:30px;
    flex:0.3;
    background-color: grey;
}
.child17{
    width:20%;
    height:10px;
    background-color: grey;
    margin-left:2%;
}
.pink2{
    display:flex;
    justify-content: space-between;
    padding:2%;
    background-color: pink;
}
.child18{
    height:30px;
    background-color: grey;
    flex:0.7;
}
.child19{
    height:30px;
    background-color:grey;
    flex:0.2;
}
.child20{
    width:40%;
    height:10px;
    background-color: grey;
    margin-left: 2%;
}
.pink3{
    display:flex;
    background-color: pink;
    justify-content: space-between;
    padding: 2%;
}
.child21{
    width:100%;
    height:30px;
    background-color: grey;
}
.child22{
    height: 10px;
    width:20%;
    margin-left:2%;
    background-color: grey;
}
.pink4{
    background-color: pink;
    padding:2%;
    display:flex;
    justify-content: space-between;
}
.child23{
    width:70%;
    height:25px;
    background-color: grey;
}
.child24{
    width:30%;
    height:10px;
    background-color: grey;
    margin-left: 68%;
}
.pink5{
    background-color: pink;
    padding:2%;

}
.child25{
    width:20%;
    height:10px;
    background-color: grey;
}
